:root {
    --dark-mode-n1: #000;
    --dark-text-n1: #000;
    --dark-mode-n2: #222;
    --dark-text-n2: #222;
    --white-mode-n1: beige;
    --white-text-n1: beige;
    --border-standart: 2px solid beige;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--dark-mode-n1);
    color: var(--white-text-n1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    height: 40%;
    background-color: var(--white-mode-n1);
    color: var(--dark-mode-n2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #222;
}

nav a:hover {
    padding-bottom: 5px;
    text-decoration: underline;
}

header div {
    width: 100%;
    height: 60%;
    background-color: var(--dark-mode-n2);
    color: var(--white-text-n1);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 100px 200px;
    height: 80%;
    display: flex;
    align-items: center;
}

.section1 {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2 {
    height: 400px;
    width: 350px;
    border-radius: 5%;
    background-color: #0c345c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myData {
    height: 92%;
    width: 87%;
    border-radius: 5%;
    border: var(--border-standart);
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data1 {
    display: flex;
    height: 100px;
    width: 100px;
}

.imgUser {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: var(--border-standart);
}

.data2 {
    text-align: center;
    margin-bottom: 10px;
}

.data3 {
    height: 35px;
    display: flex;
}

.data3 a {
    display: flex;
    justify-content: center;
}

.imgContact {
    max-width: 100%;
    max-height: 100%;
}

#githubLogo {
    border-radius: 50%;
}
