:root {
    --dark-mode-n1: #000;
    --dark-mode-n2: rgb(20, 20, 20);
    --text-standart: beige;
    --border-standart: 2px solid beige;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--dark-mode-n1);
    color: var(--text-standart);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: var(--dark-mode-n2);
    height: 20%;
    width: 95%;
    margin-top: 25px;
    border: var(--border-standart);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 100px 200px;
    height: 80%;
    display: flex;
    align-items: center;
}

.section1 {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2 {
    height: 400px;
    width: 350px;
    border-radius: 5%;
    background-color: #0c345c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myData {
    height: 92%;
    width: 87%;
    border-radius: 5%;
    border: var(--border-standart);
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgUser {
    height: 30%;
    width: 35%;
    border-radius: 50%;
    border: var(--border-standart);
}

.data2 {
    text-align: center;
}

