:root {
    --dark-mode-n1: #000;
    --dark-text-n1: #000;
    --dark-mode-n2: #222;
    --dark-text-n2: #222;
    --white-mode-n1: white;
    --white-text-n1: white;
    --white-border-n1: 2px solid white;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--dark-mode-n1);
    color: var(--white-text-n1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    height: 72px;
    background-color: var(--white-mode-n1);
    color: var(--white-text-n1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    width: 100%;
    height: 96px;
    background-color: var(--dark-mode-n2);
    color: var(--white-text-n1);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #222;
}

nav a:hover {
    text-decoration: underline;
}

main {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section1 {
    width: 20%;
    height: 480px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2 {
    width: 20%;
    height: 450px;
    border-radius: 5%;
    background-color: #0c345c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myData {
    width: 87.5%;
    height: 425px;
    border-radius: 5%;
    border: var(--white-border-n1);
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data1 {
    width: 35%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgUser {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: var(--white-border-n1);
}

.data2 {
    text-align: center;
    margin-bottom: 10px;
}

.data3 {
    height: 35px;
    display: flex;
    justify-content: space-around;
}

.data3 a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContact {
    max-width: 100%;
    max-height: 100%;
}

#githubLogo {
    border-radius: 50%;
}
